/* Estilos para o cabeçalho */
header {
    background-color: #FF5733; /* Laranja vívido */
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para a imagem no cabeçalho */
header img {
    width: 150px; /* Defina o tamanho desejado */
    height: 150px; /* Defina a altura desejada */
    border-radius: 50%; /* Cria uma borda circular para a imagem */
    margin-bottom: 10px; /* Espaço abaixo da imagem */
}

/* Estilos para os títulos das seções */
h2 {
    color: #FF5733; /* Laranja vívido */
    border-bottom: 2px solid #FF5733; /* Laranja vívido */
    padding-bottom: 10px;
}

/* Estilos para os projetos */
.projeto {
    margin: 20px;
    padding: 10px;
    border: 1px solid #FF5733; /* Laranja vívido */
    background-color: #FFF3E3; /* Bege claro */
    color: #333; /* Texto preto */
}

/* Estilos para a seção de contato */
#contato {
    background-color: #FFC300; /* Amarelo vívido */
    padding: 20px;
    color: #fff; /* Texto branco */
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cinza claro */
}
/* Estilos para os botões do menu */
.botoes-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.botao {
    background-color: #FF5733; /* Laranja vívido */
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; /* Espaçamento interno (vertical horizontal) */
    border: 2px solid #FF5733; /* Borda laranja vívida */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botao:hover {
    background-color: #fff; /* Fundo branco ao passar o mouse */
    color: #FF5733; /* Texto laranja vívido ao passar o mouse */
}

